@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Karla", sans-serif;
}

a {
    text-decoration: none;
}


html,
body {
    width: 100%;
    height: 100%;
}

.main_bg_color {
    background: #20bf6b;
}

/* Navbar */

.bg-main {
    background-color: #00bcde;
}

.navbar {
    background-color: #000000b3;
}

.navbar-brand {
    color: #20bf6b;
    font-size: 2rem;
    font-weight: 800;
}

.navbar-brand:hover {
    color: #20bf6b;
}


.nav-link {
    color: #b5b5b5;
    font-size: 17px;
    letter-spacing: 1px;
    font-weight: 600;
}

.nav-link:hover {
    color: #20bf6b;
}

.book_btn a {
    background-color: #20bf6b;
    border-radius: 30px;
    color: #fff;
    font-size: 1rem;
    font-weight: 500;
    padding: 0.5rem 1.2rem;
    border: 2px solid #20bf6b;
    transition: all 300ms cubic-bezier(0.215, 0.610, 0.355, 1);
}

.book_btn a:hover {
    color: #20bf6b;
    background-color: transparent;
    border: 2px solid #20bf6b;
    transition: all 300ms cubic-bezier(0.215, 0.610, 0.355, 1);
}



.navbar-toggler {
    font-size: 1.5rem;
    font-weight: 600;
    color: #20bf6b;
}

.navbar-toggler:hover {
    color: #20bf6b;
    background-color: transparent;
}

.navbar-toggler:focus {
    box-shadow: none;

}

@media only screen and (max-width: 600px) {
    .navbar-brand {
        font-size: 1.2rem;
    }

    .book_btn a {
        font-size: 12px;
        font-family: 600;
        padding: 0.3rem 0.5rem;

    }
}


/* /navbar */


/* Landing Section */
.hero {
    background-image: linear-gradient(#00000089, #00000089), url(../images/laishram.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}


.hero>div>div>span {
    color: #fff;
    font-size: 2rem;
    font-weight: 600;
}

.hero>div>div>h1 {
    color: #fff;
    font-size: 5vw;
    font-weight: 800;
    padding: 0 8rem 0 8rem;
}

.hero>div>div>h1 span {
    color: #fff;
}

.text_part p {
    font-size: 15px;
    letter-spacing: 1px;
    color: #777777;
    margin-bottom: 2rem;
}

.hero-btn a {
    color: fff;
    background-color: #20bf6b;
    font-size: 1.3rem;
    font-weight: 500;
    padding: 1rem 2rem;
    border-radius: 30px;
}

@media only screen and (max-width: 600px) {

    .hero>div>div>span {
        font-size: 1.5rem;
        font-weight: 800;
        padding: 0;
    }

    .hero>div>div>h1 {
        font-size: 3rem;
        font-weight: 800;
        padding: 0;
    }
}

@media (min-width: 768px) and (max-width: 992px) {

    .hero>div>div>span {
        font-size: 1.8rem;
        font-weight: 700;
    }

    .hero>div>div>h1 {
        font-size: 4rem;
        padding: 0;
    }

}


/* /Landing Section */

/* Search */

.search {
    margin-top: -4rem;
}

.search-btn {
    background-color: #20bf6b;
    padding: 0.5rem 2rem;
    color: #fff;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 1px;
    border-radius: 30px;
}


@media only screen and (max-width: 600px) {
    .search {
        margin-top: 5rem !important;
        margin-bottom: 4rem !important;
        padding: 0 2rem;
    }

    .search form {
        display: block !important;
    }

    .search>form>div {
        padding-bottom: 2rem;
    }

    .search-btn {
        font-size: 14px;
        font-weight: 600;
        letter-spacing: 1px;
        padding: 0.8rem 1.5rem;
    }
}

@media (min-width: 768px) and (max-width: 992px) {
    .search {
        width: 100% !important;
    }
}

/* /Search */


/* secound section  */

.button_1 {
    margin-top: 2rem;
    color: #ffff;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 2px;
    padding: 0.8rem 2.8rem;
    border-radius: 30px;
    border: 2px solid #20bf6b;
}

.button_1:hover {
    color: #20bf6b;
    background-color: transparent;
    border: 2px solid #20bf6b;
    transition: all 800ms cubic-bezier(0.075, 0.82, 0.165, 1);
}

.buddha_text h2 {
    border-left: 5px solid #20bf6b;
}


@media only screen and (max-width: 600px) {
    .secound>div>div {
        display: block;
    }
}

@media (min-width: 768px) and (max-width: 992px) {}


/* /secound section */


/* third section */

.item {
   border-bottom: 1px solid #20bf6b;
   box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
   margin-left: 2rem;
}

.category {
    color: #20bf6b;
    font-size: 22px;
    font-weight: 600;
}

.discount-info {
    color: #20bf6b;
    font-size: 18px;
}

.parallax_one {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.travel-card {
    width: 300px;
}

.travel-card .image {
    width: 100%;
    height: 200px;
    overflow: hidden;
}



.travel-card>.content {
    color: #545454;
    padding: 1rem 1.5rem;
}



.travel-card>.content>.topic {
    font-size: 1em;
    overflow: hidden;
    position: relative;
    padding: 1rem 0;
}


@media only screen and (max-width: 600px) {
    .parallax_one {
        padding: 0 1rem;
    }
}

@media (min-width: 768px) and (max-width: 992px) {}


/* /third section */


/* fourth section */

.showcase {
    display: flex;
    justify-content: center;
    align-items: center;
}

.parallax_two {
    background-image: url(../images/kahdjka.jpg);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    height: 100vh;
    width: 100%;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* /fourth section */

/* footer */
.footer {
    background-color: #24262b;
    padding: 70px 0;
}

.footer-col {
    width: 25%;
    padding: 0 15px;
}

.footer-col h4 {
    font-size: 18px;
    color: #ffffff;
    text-transform: capitalize;
    margin-bottom: 35px;
    font-weight: 500;
    position: relative;
}

.footer-col h4::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: #20bf6b;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
}

.footer-col ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.footer-col ul li:not(:last-child) {
    margin-bottom: 10px;
}

.footer-col ul li a {
    font-size: 16px;
    text-transform: capitalize;
    color: #ffffff;
    text-decoration: none;
    font-weight: 300;
    color: #bbbbbb;
    display: block;
    transition: all 0.3s ease;
}

.footer-col ul li a:hover {
    color: #ffffff;
    padding-left: 8px;
}

.footer-col .social-links a {
    font-size: 1.5rem;
    margin: 0 10px 10px 0;
    color: #ffffff;
    transition: all 0.5s ease;
}

.footer-col .social-links a:hover {
    color: #cccccc;
}


/* /footer */

/* destination */

.dest_card {
    width: 18rem;
    height: 27rem;
    border-radius: 10px;
    overflow: hidden;
    cursor: pointer;
    position: relative;
    color: #000;
}

.dest_card img {
    position: absolute;
    object-fit: cover;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    transition: opacity .2s ease-out;
}

.dest_card h2 {
    position: absolute;
    inset: auto auto 30px 0px;
    margin: 0;
    transition: inset .3s .3s ease-out;
    font-size: 25px;
    font-weight: 700;
    letter-spacing: 1px;
    color: #20bf6b;
    background-color: #ffffffa9;
    padding: 0.5rem 1rem;
}

.dest_card p {
    position: absolute;
    opacity: 0;
    max-width: 80%;
    transition: opacity .3s ease-out;
    font-size: 16px;
    font-weight: 500;
    color: #413f3f;
}

.card_btn {
    position: absolute;
    opacity: 0;
    max-width: 80%;
    transition: opacity .3s ease-out;
    font-size: 16px;
    font-weight: 500;
    inset: auto auto 40px 30px;
    color: inherit;
    text-decoration: none;
    color: #20bf6b;
}

.dest_card p {
    inset: auto auto 80px 30px;
}


.dest_card:hover h2 {
    inset: auto auto 80% 30px;
    transition: inset .3s ease-in-out;
    background-color: transparent;
}

.dest_card:hover p,
.dest_card:hover a {
    opacity: 1;
    transition: opacity .5s .1s ease-in;
}

.dest_card:hover img {
    transition: opacity .3s ease-in;
    opacity: 0.5;

}

/* /destination */

/* tour.html */


/* /tour.html */

/* contact.html */

.contain {
    background-color: #eee;
    max-width: 1170px;
    margin-left: auto;
    margin-right: auto;
    padding: 1em;
}


.contact-wrapper {
    margin: auto 0;
}

.submit-btn {
    float: left;
}

.reset-btn {
    float: right;
}

.form-headline:after {
    content: "";
    display: block;
    width: 10%;
    padding-top: 10px;
    border-bottom: 3px solid #20bf6b;
}

.highlight-text {
    color: #20bf6b;
}

.hightlight-contact-info {
    font-weight: 700;
    font-size: 22px;
    line-height: 1.5;
}

.highlight-text-grey {
    font-weight: 500;
}

.email-info {
    margin-top: 20px;
}


.required-input {
    color: black;
}





.form-input:focus,
textarea:focus {
    outline: 1.5px solid #20bf6b;
}

.form-input,
textarea {
    width: 100%;
    border: 1px solid #bdbdbd;
    border-radius: 5px;
}

.wrapper>* {
    padding: 1em;
}

.wrapper {
    display: grid;
    grid-template-columns: 2fr 1fr;
}


ul {
    list-style: none;
    padding: 0;
}

.contacts {
    color: #212d31;
}

.form {
    background: #fff;
}

form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
}

form label {
    display: block;
}

form p {
    margin: 0;
}

.full-width {
    grid-column: 1 / 3;
}

button,
.submit-btn,
.form-input,
textarea {
    padding: 1em;
}

button,
.submit-btn {
    background: transparent;
    border: 1px solid #20bf6b;
    color: #20bf6b;
    border-radius: 15px;
    padding: 5px 20px;
    text-transform: uppercase;
}

button:hover,
.submit-btn:hover,
button:focus,
.submit-btn:focus {
    background: #20bf6b;
    outline: 0;
    color: #eee;
}

.error {
    color: #20bf6b;
}


/* /contact.html */

/* login.html */


.login_r {
    width: 50%;
    background-color: #20bf6b11;
}

.social a:nth-of-type(1) {
    align-self: center;
    justify-content: center;
    text-align: center;
    color: #2578b5;
    font-weight: 600;
    border: 2px solid #2578b5;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    transition-duration: 0.5s;
}

.social a:nth-of-type(1):hover {
    color: #ffff;
    background-color: #2578b5;
    transition-duration: 0.5s;
}

.social a:nth-of-type(2) {
    align-self: center;
    justify-content: center;
    text-align: center;
    color: rgba(255, 0, 0, 0.849);
    font-weight: 600;
    border: 2px solid rgba(255, 0, 0, 0.849);
    padding: 0.5rem 1rem;
    border-radius: 5px;
    transition-duration: 0.5s;
}

.social a:nth-of-type(2):hover {
    color: #fff;
    background-color: rgba(255, 0, 0, 0.849);
    transition-duration: 0.5s;
}

.social a:nth-of-type(3) {
    align-self: center;
    justify-content: center;
    text-align: center;
    color: #3b5998;
    font-weight: 600;
    border: 2px solid #3b5998;
    padding: 0.5rem 1rem;
    border-radius: 5px;
}

.social a:nth-of-type(3):hover {
    color: #fff;
    background-color: #3b5998;
    transition-duration: 0.5s;
}

.login_l {
    width: 50%;
    text-align: center;
    margin: 5rem 0;
    background-color: #fff;
}

.sign_btn {
    border: 2px solid #20bf6b;
    background-color: #20bf6b;
    padding: 0.6rem 10rem;
    border-radius: 5px;
    color: #ffff;
    font-weight: 600;
    letter-spacing: 1px;
    width: 100%;
}

.backup a {
    color: #20bf6b;
    font-weight: 600;
}

.backup p {
    color: #a3a0a0;
    font-weight: 600;
}

.input input {
    width: 100%;
    align-self: center;
    padding: 0.5rem 12rem;
    padding-left: 0.5rem;
}

.input input::placeholder {
    /* text-align: center; */
    padding-right: 0;
}

/* /login.html */